<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PhamaceySystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="israa-pc\sqlexpress.PHANACEY_DB.dbo" connectionString="xpoprovider=MSSqlServer;data source=ISRAA-PC\SQLEXPRESS;initial catalog=PHANACEY_DB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework"/>
    <add name="Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=PHANACEY_DB"/>
    <add name="localhost_PHANACEY_DB_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=PHANACEY_DB"/>
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/McSkin</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value>UseTahoma</value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value/>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <!--<connectionStrings>
		<add name="PHANACEY_DBEntities" connectionString="metadata=res://*/Phamacey_Entity_Model.csdl|res://*/Phamacey_Entity_Model.ssdl|res://*/Phamacey_Entity_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PHANACEY_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <PhamaceySystem.Properties.Settings>
      <setting name="Server_Name" serializeAs="String">
        <value />
      </setting>
      <setting name="gc_row_count" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value />
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="sqript_path" serializeAs="String">
        <value />
      </setting>
      <setting name="time_server" serializeAs="String">
        <value />
      </setting>
      <setting name="is_first_time" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="is_med_count_not_show" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="is_med_count_form_show" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="is_expdate_form_show" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="is_expdate_not_show" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="theme" serializeAs="String">
        <value>McSkin</value>
      </setting>
      <setting name="titel_master_colore" serializeAs="String">
        <value>RosyBrown</value>
      </setting>
      <setting name="login_user_name" serializeAs="String">
        <value />
      </setting>
      <setting name="login_pass_Word" serializeAs="String">
        <value />
      </setting>
      <setting name="Rememper_me" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="save_backup_path" serializeAs="String">
        <value />
      </setting>
    </PhamaceySystem.Properties.Settings>
  </userSettings>
</configuration>
